.footer-container {
  background-color: rgb(12, 12, 12);
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-top: 3rem;
  border-radius: 10px 10px 0px 0px;
}

.footer {
  width: 50vw;
  height: auto;
  /* padding: 15px; */
  display: flex;
  padding-left: 5vw;
  flex-direction: column;
}

.footer-h3 {
  color: #cd571c;
  font-size: 25px;
  margin: 0px;
  font-family: "mass";
}

@media(max-width: 900px){
  .footer-h3 {
    font-size: 1rem;
  }
}

.p {
  color: white;
  align-items: center;
  display: flex;
  gap: 10px;
  font-size: 17px;
  font-family: system-ui;
}

.p svg {
  color: #eb4114;
}

.footerIcon {
  width: 30px;
  /* filter: invert(1) sepia(1) saturate(7) hue-rotate(30deg); */
}
.p:hover {
  text-shadow: 0 0 10px #eb4114;
}

.home {
  cursor: pointer;
}

.feedback {
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
}

.feedback-row {
  overflow: hidden;
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: center;
  margin: 5px;
  width: 100%;
}

.feedback-col {
  width: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
 
}

.captcha {
  flex-direction: column;
  display: flex;
  align-items: start;
  width: 100%;
}

.captcha label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  text-align: center;
}

.feedback-col input:disabled {
  background-color: rgb(218, 43, 43);
  color: #f0f0f0;
  text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 8;
   
}

.feedback-col  input {
  height: 40px;
  border-radius: 7px;
  border-color: transparent;
  width: 90%;
  font-family: 'DM Serif Text', serif;
}

#message {
  height: 0;
  border-radius: 7px;
  width: 100%;
  padding: 5px;
  padding-bottom: 25%;
  margin: 5px;
  box-sizing: border-box;
  font-family: 'DM Serif Text', serif;
}

#feedback-btn {
  width: 100%;
  max-width: 550px;
  background-color: #eb4114;
  border-radius: 7px;
  color: white;
  font-weight: 800;
  border-color: transparent;
  margin: 5px;
  height: 45px;
  transition: all 0.5s ease;
}

#feedbackSending {
  width: 100%;
  max-width: 550px;
  background-color: #691a04;
  border-radius: 7px;
  color: rgb(158, 156, 156);
  font-weight: 800;
  border-color: transparent;
  margin: 5px;
  height: 45px;
}

#feedback-btn:disabled {
  background-color: gray;
 
}

input:focus {
  /* Change the border color to green when focused */
  outline: none; /* Remove the default outline */
  background-color: #f0f0f0;
  box-shadow: 0px 0px 20px #eb4114;
}

textarea:focus {
  outline: none; /* Remove the default outline */
  background-color: #f0f0f0;
  box-shadow: 0px 0px 20px #eb4114;
}


@media (max-width: 900px) {
  .footer {
    width: 90vw;
  }
  .footer-container {
    flex-direction: column;
  }

  .feedback {
    width: 90vw;
    margin-top: 25px !important;
    margin: auto;
  }

}
