.footer-container{
  background-color: rgb(12, 12, 12);
  display: flex;
  flex-direction: row;
  align-items: start;
 
  border-radius: 10px 10px 0px 0px;


}



.footer {
  background-color: rgb(12, 12, 12);
  width: 50vw;
  height: auto;
  /* padding: 15px; */
  display: flex;
  padding-left: 5vw;
  flex-direction: column;
  

  h3 {
    color: red;
    font-size: 25px;
    margin: 0px;
    font-family: "mass";
  }
  .p {
    color: white;
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 17px;
    font-family: system-ui;
    svg {
      color: #eb4114;
    }
  }
}

.footerIcon {
    width: 30px;
    /* filter: invert(1) sepia(1) saturate(7) hue-rotate(30deg); */
}
.p:hover  {
    text-shadow: 0 0 10px #eb4114;
}

.home {
    cursor: pointer;
}

.feedback {
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
}

.feedback-row{
  overflow: hidden;
  display: flex;;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: center;
  margin: 5px;
  width: 100%;

}

.feedback-col {
  width: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  input {
    height: 40px;
    border-radius: 7px;
    border-color: transparent;
    width: 90%;
  }
}

#message {

  height: 100px;
  border-radius: 7px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin: 5px;
}

#feedback-btn {
  width: 100%;
  background-color: #eb4114;
  border-radius: 7px;
  color: white;
  font-weight: 800;
  border-color: transparent;
  margin: 5px;
  height: 45px;
}

input:focus {
 /* Change the border color to green when focused */
  outline: none;  /* Remove the default outline */
  background-color: #f0f0f0;  
  box-shadow: 0px 0px 20px #eb4114;
}

textarea:focus {
  outline: none;  /* Remove the default outline */
  background-color: #f0f0f0;  
  box-shadow: 0px 0px 20px #eb4114;
} 

@media(max-width: 900px){
  .footer {
    width: 90vw;
  }
  .footer-container{
    flex-direction: column;
  }

  .feedback {
    width: 90vw;
    margin: auto;
  }

  .feedback-row {
    width: 80vw;

  }
}




