.wrapper {
  position: relative;
 
}

.otherVideo {
  width: 95vw;
}
h4 {
  margin-bottom: 10px;
  font-family: system-ui;
  color: #737373;
}
hr {
  border: 2px solid #dcdcdc;
  margin-bottom: 20px;
  width: 89vw;
}

.category {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.category h3 {

  color: #F36868;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.more {
  color: #d65215;
  /* transform: translateY(-100%); */
  transition: 1s;
  margin-left: 2vw;
  width: 25vw;
  border: 1px solid;
  border-radius: 25px;
  padding: 0.2rem;
  display: grid;
  justify-items: center;
  margin-top: 10px;
  cursor: pointer;
  
}

.less {
  color: green;
  /* transform: translateY(0px); */
  transition: 1s;
  margin-left: 2vw;
  width: 25vw;
  border: 1px solid;
  border-radius: 25px;
  padding: 0.2rem;
  display: grid;
  justify-items: center;
  margin-top: 10px;
  cursor: pointer;
}


@media (min-width: 1600px) {
  .less, .more {
    width: 22vw;
  }
  
}

@media (max-width: 1600px) {
  .less, .more {
    width: 22vw;
  }
}

@media (max-width: 1200px) {
  .less, .more {
    width: 22vw;
  }
}

@media (max-width: 1024px) {
  .less, .more {
    width: 22vw;
  }
}

@media (max-width: 600px) {
  .less, .more {
    width: 30vw;
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .less, .more {
    width: 35vw;
    font-size: 12px;
  }
}

.Community-add,
.Religious-add,
.Politics-add,
.Stage-add {
  opacity: 0;
  transform: scale(0); /* Start with the element shifted */
  transition: transform 0.2s ease;
}

.Community-add.active,
.Religious-add.active,
.Politics-add.active,
.Stage-add.active {
  opacity: 1;
  transform: scale(1);
}

.Community-add.inactive,
.Religious-add.inactive,
.Politics-add.inactive,
.Stage-add.inactive {
  opacity: 0;
  transform: scale(0);
}
@media (min-width: 1600px) {
  .wrapper {
    top: 27vh;
  }
  h4 {
    margin-left: 20px;
    font-size: 20px;
  }
}

@media (max-width: 1600px) {
  .wrapper {
    top: 27vh;
  }
  h4 {
    margin-left: 20px;
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    top: 15vh;
  }
  h4 {
    margin-left: 18px;
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    top: 18vh;
  }
  h4 {
    margin-left: 15px;
    font-size: 18px;
  }
}

@media (max-width: 960px) {
  .wrapper {
    top: 12vh;
  }
  h4 {
    margin-left: 15px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    top: 13vh;
  }
  h4 {
    margin-left: 10px;
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    top: 9vh;
  }
  h4 {
    margin-left: 10px;
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    top: 7vh;
  }
  h4 {
    margin-left: 10px;
    font-size: 12px;
  }
}
